@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Poppins&family=Roboto&family=Ubuntu&display=swap");
* {
  background-color: #222831;

  /* background-color: #222831; */
  font-family: "Poppins", serif;
  color: white;
}

header {
  background-color: #222831;

  background-repeat: no-repeat;
}

.text-primary {
  color: #00adb5;
}

.button-primary {
  border-radius: 5px;
  background-color: #00adb5;
  border: 0;
  font-weight: 700;
  font-size: 20px;
  padding: 15px 35px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}

.nav-name {
  font-size: 50px;
  margin-left: 150px;
}

.banner {
  padding: 30px 30px 30px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-content {
  max-width: 500px;
}

.banner .profile-pic {
  width: 500px;
}

.banner-greeting {
  font-size: 45px;
  margin-bottom: 0;
}

.banner-title {
  font-size: 70px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}

.banner-description {
  color: #757575;
  font-size: 18px;
  font-weight: 550;
  margin-bottom: 40px;
}

.home-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  /* color: var(--first-clr); */
}
/* Main Section */
main {
  justify-content: space-between;
  display: flex;
  /* max-width: 1140px; */

  /* margin-right: 100px; */
  margin-left: 150px;
  margin-top: 80px;
  background-color: 0;
}
.relax-image {
  width: 665.333px;
}

.about {
  margin-left: 200px;
  margin-right: 0;
}
/* .about {
  padding: 130px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.01);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
} */

.section-title {
  text-align: center;

  font-size: 64px;

  font-weight: 700;
}

.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
}
